<html>
	<head>
		<title>Add</title>
		<link th:href="@{/webjars/jquery-ui/1.11.0/jquery-ui.css}" rel="stylesheet"></link>
	</head>
	<body>
		<a th:href="${list}">List</a>

		<form method="post" th:action="${change_save}">
			<table>
				<tr th:each="column: ${columns}">
					<td th:text="${column.name}">Column</td>
					<td th:utext="${widgets[column.name].render(column.name, item[column.name])}"/>
				</tr>
			</table>

			<fieldset th:each="inline: ${inlines}">
				<p th:text="${inline.tableController.table.name}"/>
				<table>
					<tr>
						<td th:each="column: ${inline.editableColumns}" th:text="${column.name}"/>
						<td>Keep</td>
					</tr>
					<tr th:each="inline_item: ${inline.list(item)}">
						<td th:each="column: ${inline.editableColumns}"
							th:utext="${inline.tableController.widgets[column.name].render(inline.inlineId + '/' + inline_item['_primary_key'] + '/' + column.name, inline_item[column.name])}"/>
						<td>
							<input type="checkbox" th:name="${inline.inlineId + '/' + inline_item['_primary_key'] + '/_keep'}" th:checked="${inline_item['_keep']}" value="keep"/>
						</td>
					</tr>
				</table>
			</fieldset>

			<input type="submit"/>
		</form>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.0/jquery-ui.js}"></script>
	<script th:src="@{/static/js/widgets.js}"></script>
	</body>
</html>
